*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.4;
    color: #444;
    background: #fff;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

/* buttons   */

.btnMenu{
    transition: 0.5s;
    background-size: 200% auto;
    cursor: pointer;
}

.btnMenu:hover{
    background-position: right center;
}

/* .btnMenu{
    /* background-image: linear-gradient(to right, #CAFFE3 0%, #f2f8be 50%, #CAFFE3 100%); */
    /* background-image: linear-gradient(to right, #68ce98 0%, #cbd47b 50%, #68ce98 100%);rgb(51, 47, 47); */
/*} */

/* terminal */
.termContainer{
    display: flex;
    flex-direction: column;
    background-color: black;
    width:90%;
    height: 100vh;
}

.containerTerm{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    background-color: #eafaf3;
}

.termDiv{
    display: flex;
    flex-direction: column;
    width: 11%;
}

.lineCmd{
    display: flex;
    flex-direction: row;
    margin-left: 20px ;
    color: #53D632;
}

.inputCmd{
    font-size: 18px;
    margin-left: 10px;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
}

/* quiz */
.qizItem{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    margin: 20px 0px 30px 0px;
    width: 130vh;
    border-radius: 5px;
    background-color: #eafaf3;
    align-items: center;
}
.qiuzDiv{
    display: flex;
    flex-direction: column;
}

/* quiz */
.containerQuest{
    display: flex;
    background-color: #eafaf3;
    width: 100%;
}
.questBtn{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}
.questDiv{
    width: 60%;
}

.questionItem{
    color: #253304;
    font-size: 30px;
    hyphens: auto;
    margin-top: 100px;
    margin-left: 20px;
}

