.containerTerm {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}

.termDiv {
    width: 150px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eafaf3;

}

.lineCmd {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    color: #53D632;
}

.inputCmd {
    font-size: 18px;
    margin-left: 10px;
    hyphens: auto;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    width: 1000;
}



.text {
    position: absolute;
    top: 20px;
    left: 30px;
    bottom: 20px;
    right: 10px;
    line-height: 20px;
    overflow: hidden;
    outline: none;
    color: #fff;
}