.containerTerm {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}

.termContainer {
    font-family: Consolas, monospace;
}

.termDiv {
    width: 150px;
    min-height: 100%;
    padding-left: 20px;
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eafaf3;
}

.lineCmd {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    color: #53D632;
}

.inputCmd {
    font-size: 20px !important;
    font-family: Consolas, monospace;
    margin-left: 10px;
    min-width: 700px;
    margin-right: auto;
    hyphens: auto;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
}



.text {
    position: absolute;
    top: 20px;
    left: 30px;
    bottom: 20px;
    right: 10px;
    line-height: 20px;
    overflow: hidden;
    outline: none;
    color: #fff;
}