
.panelsDash{
    height: 100%;
    min-width: 80%;
    max-width: 80%;
    position: absolute;
    display: flex;
    margin-left: 250px;
    padding-top: 100px;
    /* overflow:scroll; */
    background-color: #fff;
} 

.tabsDash{
    height: 100%;
    width: 250px;
    padding-top: 50px;
    position: absolute;
    background-color: #eafaf3;
}



.tabDash{
    cursor: pointer;
    display:inline-block;
    color: #0B1F64;
    display: flex;
    flex-direction: column;    
}

.panelDash{
    font-size: 30px;
    display:none;
    animation: fadein .8s; 
}

.dash{
    display: none;
}

#result:checked ~ .panelsDash #result-panel,
#pass:checked ~ .panelsDash #pass-panel{
    display:block 
}

#result:checked ~ .tabsDash #result-tab,
#pass:checked ~ .tabsDash #pass-tab{
    color:rgb(24, 150, 36);
}


.resultList{
    width: 1500px;
    min-width: 1500px;
    position: absolute;
    overflow:scroll; 
    display: flex;
    flex-direction: column;
}

#resultList{
    height: 80px;
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #eafaf3;
    box-shadow: 0 0 0.2rem #f2f8be;
}

.list{
    height: 50%;
    width: 1500px;
    min-width: 1500px;
    position: absolute;
    text-align: center;
    overflow:scroll; 
    font-size: 20px;
    margin-left: 100px;
    margin-top: 30px;
    
}

#changePass{
    width:350px;
    height: 25px;
}

.changePass{
    cursor:pointer;
    text-align:center; 
    padding: 6px;
    width: 100px;
    font-size:16px;
    border-radius: 6px;
    text-align: center;
    background-color:#e0feee ;
    box-shadow: 0 0.1rem 0.1rem  #68ce98;
}